<div class="app-LoginModal">
  <h1>Login</h1>
  <div class="app-LoginModal_Content">
    <div class="app-LoginModal_InputWrapper">
      <label class="app-Label">Username</label><app-text-input></app-text-input>
    </div>
    <div class="app-LoginModal_InputWrapper">
      <label class="app-Label">Password</label><app-password-input></app-password-input>
    </div>
    <div class="app-LoginModal_Buttons">
      <button class="app-FormButtonSecondary">cancel</button>
      <button class="app-FormButton">Login</button>
    </div>
  </div>

</div>
