.app-Header {
  display: flex;
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 8px;
  align-items: center;
  height: 80px;
}
.app-Header_UserIcon {
  margin-left: auto;
}

.app-Header_Image {

}

.app-Header_Title {
  display: flex;
  align-items: center;
}
.app-Header_Text {
  margin: 0;
}
