@import "../variables";
.app-Header {
  display: flex;
  align-items: center;
  width: 100%;
}
.app-Header_UserIcon {
  margin-left: auto;
  font-size: 2.5em;
  &:hover {
    color: #dc0031;
  }
}



.app-Header_Image {
  max-height: 3em;
}

.app-Header_Title {
  display: flex;
  align-items: center;
}
.app-Header_Text {
  margin: 0;
}
